* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

/* - - - - - - - - INICIA HEADER - - - - - - - - - - - */

header {
  background: #2b293a;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #191822;
}

header a {
  width: 6%;
}

.icono {
  width: 100%;
}

.icono:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.logo {
  width: 50%;
}

/* - - - - - - - - INICIA MAIN - - - - - - - - - - - */

main {
  background-image: url(/../imagenes/bg.jpg);
  background-color: #262626;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  justify-content: center;
}

.contenedor {
  width: 1000px;
}

.juegos-terminados {
  margin-top: 90px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.juego-terminado {
  width: 240px;
  display: flex;
  flex-flow: row wrap;
}

.img-juego {
  border: 3px solid #feac22;
  width: 100%;
}

.info {
  background: #b8052a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo-juego {
  width: 85%;
  color: #ffffe5;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
}

.img-plataforma {
  width: 15%;
}

/* - - - - - - - - INICIA FOOTER - - - - - - - - - - - */

footer {
  background: #2b293a;
  color: #ffffe5;
  padding: 1rem;
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  border: 3px solid #191822;
  text-align: center;
}

/* - - - - - - - - QUERYS - - - - - - - - - - - */

@media (max-width: 600px) {
  header {
    justify-content: center;
  }

  .logo {
    width: 100%;
    order: -1;
  }

  header a {
    width: 10%;
    margin: 0 10px 0 0;
  }

  main {
    width: 100%;
  }
}

@media (max-width: 974px) {
  main {
    background-image: none;
  }
}
