* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
<<<<<<< CodeSandbox
  background: #f0f0f0;
=======
  background: pink;
>>>>>>> GitHub
}

.contenedor {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

/* - - - - - - - - INICIA HEADER - - - - - - - - - - - */

header {
  background: #003f63;
  color: white;
  padding: 1rem;
  flex: 0 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  padding: 0 10px;
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    flex-flow: row nowrap;
  }
}

/* - - - - - - - - INICIA MAIN - - - - - - - - - - - */

main {
  flex: 1 1 auto;
  background-image: url("https://media.istockphoto.com/vectors/space-background-vector-id931901602?b=1&k=20&m=931901602&s=612x612&w=0&h=wNCZotR6nH3Z-5Y7Ji2Zk99MHrDZ2Eu6glmh7PaY1zc=");
  display: flex;
}

.juegos-terminados {
  margin: 10px;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
<<<<<<< CodeSandbox
  justify-content: space-between;
=======
  justify-content: center;
>>>>>>> GitHub
  align-content: space-between;
  align-items: center;
  gap: 5px 5px;
}

.juego-terminado {
  width: 240px;
  display: flex;
  flex-flow: row wrap;
}

.img-juego {
  border: 3px solid #feac22;
  width: 100%;
}

.info {
  background: #b8052a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo-juego {
  width: 85%;
  color: #ffffe5;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
}

.img-plataforma {
  width: 15%;
}

/* - - - - - - - - INICIA FOOTER - - - - - - - - - - - */

footer {
  background: #f2b138;
  color: white;
  padding: 1rem;
  flex: 0 1 auto;
}
