* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.bg {
  background: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* - - - - - - - - INICIA HEADER - - - - - - - - - - - */

header {
  background: #2b293a;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #191822;
}

header a {
  width: 6%;
}

.icono {
  width: 100%;
}

.icono:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.logo {
  width: 50%;
}

/* - - - - - - - - INICIA MAIN - - - - - - - - - - - */

.contenedor {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

main {
  background-color: #0f0b0c;
  margin: 10px 0 10px 0;
  flex: 1 1 auto;
  display: flex;
}

.juegos-terminados {
  margin: 10px 0 10px 0;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.juego-terminado {
  width: 240px;
  display: flex;
  flex-flow: row wrap;
}

.img-juego {
  border: 3px solid #feac22;
  width: 100%;
}

.info {
  background: #b8052a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo-juego {
  width: 85%;
  color: #ffffe5;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
}

.img-plataforma {
  width: 15%;
}

/* - - - - - - - - INICIA FOOTER - - - - - - - - - - - */

footer {
  background: #2b293a;
  color: #ffffe5;
  padding: 1rem;
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  border: 3px solid #191822;
}

/* - - - - - - - - QUERYS - - - - - - - - - - - */

@media (max-width: 600px) {
  header {
    justify-content: center;
  }

  .logo {
    width: 100%;
    order: -1;
  }

  header a {
    width: 10%;
    margin: 0 10px 0 0;
  }
}
